<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Shop Cloud</title>
    <link rel="stylesheet" href="/resources/css/productStyles.css"/>
</head>

<body>
<h1>Choose your toy!</h1>
<img th:src="@{/resources/images/logo.png}"/>

<form method="POST" th:action="@{/products}" th:object="${toy}">
    <span class="validationError"
          th:if="${#fields.hasErrors('properties')}"
          th:errors="*{properties}">Properties Error</span>

    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Get your awesome toy:</h3>
            <div th:each="property : ${awesome}">
                <input name="properties" type="checkbox" th:value="${property.id}" />
                <span th:text="${property.name}">property</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="proteins">
            <h3>Pick your cool toy:</h3>
            <div th:each="property : ${cool}">
                <input name="properties" type="checkbox" th:value="${property.id}" />
                <span th:text="${property.name}">property</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="cheeses">
            <h3>Choose your stupid toy:</h3>
            <div th:each="property : ${stupid}">
                <input name="properties" type="checkbox" th:value="${property.id}" />
                <span th:text="${property.name}">property</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>Determine your boring toy:</h3>
            <div th:each="property : ${boring}">
                <input name="properties" type="checkbox" th:value="${property.id}" />
                <span th:text="${property.name}">property</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h3>Select your saucy toy:</h3>
            <div th:each="property : ${saucy}">
                <input name="properties" type="checkbox" th:value="${property.id}" />
                <span th:text="${property.name}">property</span><br/>
            </div>
        </div>
    </div>

    <div>
        <h3>Name your toy purchase:</h3>
        <input type="text" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <br/>
        <button>Submit your purchase</button>
    </div>
</form>
</body>
</html>